* {
    font-family: PoppinsRegular;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop-bold {
    font-family: PoppinsBold;
}

.module-title {
    @apply h-9-6;
}

.pointer-hover:hover {
    color: rgba(0, 0, 0, 0.2);
}

.hover-text-white:hover {
    color: #e5e7eb;
    @apply underline hover:underline-offset-4;
}

.item-hover:hover {
    background-color: rgba(241, 245, 249, 0.6);
    border-radius: 4px;
}

.duration-hover {
    @apply cursor-pointer transform ease-linear duration-100;
}

div {
    line-height: 1;
}

.leading-point-128 {
    line-height: 128%;
}

.leading-point-86 {
    line-height: 86%;
}

.leading-num-78 {
    line-height: 78;
}