* {
    font-family: PoppinsRegular;
}

.pop-bold {
    font-family: PoppinsBold;
}

.pointer-hover:hover {
    color: rgba(0, 0, 0, 0.2);
}

.item-hover:hover {
    background-color: rgba(241, 245, 249, 0.6);
    border-radius: 4px;
}